@{
  Layout = "_Layout";
}

    <h1>Add an artist</h1>

    <form action="/artists" method="post">
      <input id="artistName" name="artistName" placeholder="Artist name">
      <button class="btn btn-dark" type="submit">Add</button>
    </form>

    <p><a href="/">Back home</a></p>
    <p><a href="/artists">Back to artists</a></p>